/* ================== ACHIEVEMENTS ================ */

.about_achievements{
    margin-top: 3rem;
}

.about_acievements_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about_achievements-right > p{
    margin: 1.6rem 0 2.5rem;
}

.achievements_cards{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1.5rem;
}

.achievement_card{
    background-color: var(--primary-light);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement_card:hover{
    background: var(--primary-light);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement_icon{
    /* background: var(--bright-color); */
    color: var(--tertiary);
    /* padding: 0.6rem; */
    border-radius: 1rem;
    display: inline-block;
    /* margin-bottom: 2rem; */
    font-size: 2rem;
    
}

.achievement_card p{
    margin-top: 1rem;
}

/* ================== TEAM ================ */

.team{
    background: var(--primary-light);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team_member{
    background: var( --primary);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;

}

.team_member:hover{
    background: transparent;
    border-color: var(--tertiary);
}

.team_member_image img{
    filter: saturate(0);
}

.team_member:hover img{
    filter: saturate(1);
}

.team_member_info * { 
    text-align: center;
    margin-top: 1.4rem;
}

.team_member_info p{
    color: var(--white);
}

.team_member_socials{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--tertiary);
    border-radius: 1rem 0 0 1rem; 
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.team_member:hover
.team_member_socials{
    right: 0;
}

.team_member_socials a{
    padding: 1rem;
}

/* ================== MEDIA QUERIES(LARGE DEVICES) =============== */

@media screen and (max-width:1024px) {
    .about_achievements{
        margin-top: 2rem;
    }

    .about_acievements_container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .about_achievements-left{
        width: 80%;
        margin: 0 auto;
    }

    .team_container{
        grid-template-columns: repeat(3rem , 1fr);
        gap: 1.5rem;
    }

    .team_member{
        padding: 1rem;
    }

    
    
}

/* ================== MEDIA QUERIES(TABLET DEVICES) =============== */
@media screen and (max-width:600px) {
    .achievements_cards{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team_container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
        
    .team_member{
        padding: 0;
    }

    .team_member p{
        margin-bottom: 1.5rem;
    }
    
}

    
@media screen and (max-width:390px) {
    .container{
        width: var(--container-sm);
    }
/* ================== NAVBAR ================  */
.nav_menu{
    right: 3%;
}

/* ================== HEADER ================ */

header{
    height: 115vh;
}

.header_container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
}

.header_left p{
    margin-bottom: 1.3rem;
}


/* ================== EVENTS ================ */
.events_right{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}

.event{
    padding: 1rem;
    border-radius: 1rem;
}

.event_icon{
    margin-top: 4px;
    display: inline-block;
}

/* ================== WORKSHOPS ================ */

.workshop_container{
    grid-template-columns: 1fr;
}
.workshop_info_details{
    align-items: center;
}

/* ================== TESTIMONIALS ================ */

.testimonial_body{
    padding: 1.2rem;
}

/* ================== FOOTER ================ */
.footer_container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
}

.footer_1 p{
    margin: 1rem auto;
}

.footer_socials{
    justify-content: center;
}


    
}