*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --primary: #1c262f;
	--primary-light: #212d37;
	--secondary: #669910;
	--tertiary: #0ee5d8;
    --bright-color:#0ee951;
	--gradient: linear-gradient(to right, #0ee951, #00dabf);
    --white:#fff;

    --container-lg:80%;
    --container-md:90%;
    --container-sm:94%;
    
    --transition:all 400ms ease
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--white);
    background: var(--primary);
}
.container{
    width: var(--container-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem
}

a{
    color: var(--white);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background:var(--white);
    color: var(--primary);
    padding: 0.9rem 0.8rem;
    border-radius: 1rem;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: var(--tertiary);
    color: var(--white);
    border-color: var(--white)
}

.btn-primary{
    background: var(--primary-light);
    color: var(--white);
}

/* ---------------- NAV ----------------- */

nav{
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.window-scroll{
    background: var(--primary-light);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3) ;
}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);
}

.nav_menu a:hover{
    color: var(--secondary);
}
/* ------------------------ HEADER --------------------- */
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left p{
    margin: 1rem 0 2.4rem;
    
}

/* ======== EVENTS ======= */
.events{
    background-color: var(--primary-light);
    height: 32rem;
}

.events h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.events_container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.events_left{
    margin-right: 4rem;
}
.events_left p{
    margin: 1rem 0 3rem;
}

.events_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.2rem;
}
.event{
    background: var(--primary);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.event:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0,0.3);
    z-index: 1;
}

.event:nth-child(2) .event_icon{
    background: var(--secondary);
}

.event:nth-child(3) .event_icon{
background: var(--bright-color) ;
}
.event_icon{
    background: var(--primary-light);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.event h5{
    margin: 2rem 0 1rem;
}

.event p{
    font-size: 0.85rem;
}

.event_section{
margin-top:5rem;
}

.event_section_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.workshop_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
}
.workshops{
    background: var(--primary-light);
    text-align: center;
    border-radius: 0.7rem ;
    transition: var(--transition);
    border-color: var(--bright-color);
}
.workshops:hover{
    background: transparent;
    border-color: var(--bright-color);
}

.workshop_info{
    padding: 2rem;
}
.workshop_info p{
    margin:  1.2rem 0 2rem;
    font-size: 0.9rem;
}


.workshop_info_details{
    text-align: justify;
}
/* ============ FAQs ================ */
.faqs{
    background: var(--primary-light);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--primary);
    cursor: pointer;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p{
    margin-top: 0.8rem;
    display: none;
}

.faq.open p{
    display: block;
}
.testimonials_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial{
    padding-top: 2rem;
}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--primary-light);
}


.testimonial_info{
    text-align: center;

}

.testimonial_body{
    background: var(--bright-color);
    padding: 2rem;
    margin-top: 3rem;
    color: var(--primary);
    position: relative;

}

.testimonial_body::before{
    content: "";
    display: block;
    background: linear-gradient(
        135deg,
        transparent,
    var(--bright-color),
     var(--bright-color),
     var(--bright-color) ) ;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

footer{
    background: var(--primary-light);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 5rem;
}

.footer_container > div h4{
    margin-bottom: 1.2rem;
}

.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}
.footer_socials{
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.footer_copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--bright-color);
    font-size: 1.1rem;
}

/* RESPONSIVE IN LARGE DEVICES */

@media screen and ( max-width: 1024px){
.container{
    width: var(--container-md);
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}

/* NAVBAR */

nav button{
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
}

nav button#close-menu-btn{
    display: none;
}

.nav_menu{
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
}
.nav_menu li{
    width: 100%;
    height: 5.8rem;
    animation: animateDropdown 400ms 0s ease forwards;
    opacity: 0;
    transform-origin:top ;
}
.nav_menu li:nth-child(2){
    animation-delay: 200ms;
}

.nav_menu li:nth-child(3){
    animation-delay: 400ms;
}
.nav_menu li:nth-child(4){
    animation-delay: 600ms;
}

.nav_menu li:nth-child(5){
    animation-delay: 800ms;
}
/* DROPDOWN ANIMATION FOR LARGE DEVICES */
@keyframes animateDropdown {
    0%{
        transform: rotateX(90deg);

    }
    100%{
        transform: rotateX(0deg);
    opacity: 1;
    }
    
}
.nav_menu li a{
    background:var(--primary-light);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.nav_menu li a:hover{
    background: var(--primary);
    color: var(--white);
}
/* ================ HEADER ================ */
header{
    height: 60vh;
    margin-bottom: 4rem;
}

.header_container{
    gap: 0;
    padding-bottom: 3rem;
}
/* EVENTS */
.events{
    height: auto;
}

.events_container{
    grid-template-columns: 1fr;
    gap: 3rem;
}
.events_left{
    margin-right: 0;
}

/* WORKSHOPS */
.workshop{
    margin-top: 0;
}
.workshop_container{
    grid-template-columns: 1fr 1fr;
}

/* ========= FAQs =========== */
.faqs_container{
    grid-template-columns: 1fr;
}

.faq{
    padding: 1.5rem;
}

/* ========= FOOTER =========== */

.footer_container{
    grid-template-columns: 1fr 1fr;
}
}


/* ================== MEDIA QUEIRES (PHONE) ================ */

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-sm);
    }
/* ================== NAVBAR ================  */
.nav_menu{
    right: 3%;
}

/* ================== HEADER ================ */

header{
    height: 115vh;
}

.header_container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
}

.header_left p{
    margin-bottom: 1.3rem;
}

/* ================== EVENTS ================ */
.events_right{
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}

.event{
    padding: 1rem;
    border-radius: 1rem;
}

.event_icon{
    margin-top: 4px;
    display: inline-block;
}

/* ================== WORKSHOPS ================ */

.workshop_container{
    grid-template-columns: 1fr;
}

/* ================== TESTIMONIALS ================ */

.testimonial_body{
    padding: 1.2rem;
}

/* ================== FOOTER ================ */
.footer_container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
}

.footer_1 p{
    margin: 1rem auto;
}

.footer_socials{
    justify-content: center;
}

}

    
